body {
  // background-color: black;
  margin: 0;
  padding: 0;
  // color: #2ed08c;
  color: white;
  .container {
    background-color: rgb(13, 22, 60);
    transform-origin: 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 0.3s;
    .header {
      z-index: 1;
      letter-spacing: 12px;
      position: fixed;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url(https://img.alicdn.com/imgextra/i4/O1CN01yEgI3z1dYAjJDIFQJ_!!6000000003747-54-tps-2881-78.apng);
      height: 56px;
      width: 1920px;
      font-size: 40px;
      color: white;
      font-weight: bold;
      user-select: none;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 10px;
    }
    .left {
      user-select: none;
      width: 470px;
      display: block;
      position: absolute;
      left: 0;
      top: 56px;
      bottom: 0;
      background: linear-gradient(
          1turn,
          rgba(8, 8, 9, 0.2) 1.34%,
          rgba(43, 45, 48, 0.2)
        ),
        linear-gradient(
          90.43deg,
          rgba(43, 45, 48, 0.3) 0.42%,
          rgba(8, 8, 9, 0.8) 54.54%
        );
      transform: matrix(-1, 0, 0, 1, 0, 0);
      .leftBg {
        transform: matrix(-1, 0, 0, 1, 0, 0);
        // height: calc(100vh-56px);
        height: 100%;
        display: flex;
        flex-direction: column;
        .i {
          flex: 1;
          padding: 0 16px;
        }
      }
    }

    .right {
      user-select: none;
      width: 470px;
      display: block;
      position: absolute;
      z-index: 2;
      right: 0;
      top: 56px;
      bottom: 0;
      background: linear-gradient(
          1turn,
          rgba(8, 8, 9, 0.2) 1.34%,
          rgba(43, 45, 48, 0.2)
        ),
        linear-gradient(
          90.43deg,
          rgba(43, 45, 48, 0) 0.42%,
          rgba(8, 8, 9, 0) 54.54%
        );
      transform: matrix(1, 0, 0, 1, 0, 0);
      .rightBg {
        height: 100%;
        display: flex;
        flex-direction: column;
        .i {
          flex: 1;
          padding: 0 16px;
        }
      }
    }
    .bottom {
      position: fixed;
      width: 50%;
      left: 50%;
      bottom: 3%;
      transform: translate(-50%);
      display: flex;
      z-index: 2;
      .bottomI {
        flex: 1;
        padding: 10px;
        text-align: center;
      }
    }
  }
}
